<div class="card">
    <div class="card-header ">
        <h1 class="card-title">{{postagem.titulo}}</h1>
    </div>
    <div class="card-body">
        <small class="card-subtitle mb-2 text-body-secondary">Data de publicação: {{postagem.data}}</small><br>
        <hr>
        <p class="card-text">{{postagem.conteudo}}</p>
    </div>  
</div>